.quadrado{
	width: 13vh;
	height: 10vw;
	background-color: blue;
	position: absolute;
	display: flex;

}


#drop2{
	height: 23vw;
	width: 70vh;
	position: absolute;
	background-color: white;
	margin-top: 60vh;
	overflow: hidden;
	display: none;
}
.botaoquadrado{
	top: 13%;
    position: absolute;
}
